<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=UTF-*" http-equiv="content-type">
  <script type="text/javascript" src="js/jquery.js"></script>

  <title>&#1043;&#1086;&#1083;&#1086;&#1089;&#1086;&#1074;&#1072;&#1085;&#1080;&#1077;</title>

  
</head><body>
<h1>В каком городе в 1932 году был проведён первый международный кинофестиваль?</h1>
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
</body></html>